<h1>Find your burger and devour it!</h1>

<ul>
  {{#each burgerToDevour}}
    <h2> {{burger_name}} </h2>
    <p> {{date}} </p>

  {{/each}}
</ul>

<!-- if statement for eaten and uneaten burgers -->

<!-- button for devour -->
<h3>DEVOUR IT!</h3>

<!-- button for submit -->
<h3>SUBMIT BURGER</h3>


<script src="jsFILE" ></script>
